# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#   editor
.vscode*

#   builds
build*

#   testing and debugging
debug*
backups/
tests/__pycache__/
tests/res
tests/
tests/create_asserts.py

AmberFD/tests/
AmberFD/__pycache__*
AmberFD/__pycache__/AmberFD.cpython-39.pyc

#   documentation
docs/build/*
docs/source/generated/
